<div fxLayout="column" style="padding:8px">
  <h2 style="text-align: center">RainCollector</h2>

  <sidenav-menu [menu]="mainMenuList"></sidenav-menu>

  <button md-button routerLink="/auth/register" *ngIf="!user.loggedIn()">
    Join
  </button>
  <button md-button routerLink="/auth/login" *ngIf="!user.loggedIn()">
    Login
  </button>

  <md-menu #accountMenu="mdMenu" fxLayout="column">
    <a md-menu-item *ngFor="let item of accountMenuList">
      {{item.title}}
    </a>
  </md-menu>

  <button *ngIf="user.loggedIn()" md-button [mdMenuTriggerFor]="accountMenu">
    {{user.user.username}}
    <md-icon>keyboard_arrow_down</md-icon>
  </button>
</div>
